/* On mouse hover, lighten state color */
path:hover {
        fill-opacity: .7;
}

path.bb-shape:hover {
        fill-opacity: 1;
}

/* Style for Custom Tooltip */
div.tooltip {   
        position: absolute;           
        text-align: center;           
        width: 60px;                  
        height: 28px;                 
        padding: 2px;             
        font: 12px sans-serif;        
        background: white;   
        border: 0px;      
        border-radius: 0px;           
        pointer-events: none;
        border-bottom:3px solid rgb(217, 91, 67);
        box-shadow: 1px 1px 4px black;
}

.errorMessage {
        fill:rgba(128,128,128,.75);
}

.errorMessage text {
        font-size: 2em;
        fill:white;
}

.shadow {
        filter:url("#drop-shadow");
}

        
/* Legend Font Style */
body {
        font: 11px sans-serif;
}
        
/* Legend Position Style */
#divLegend {
        position:relative;
        float:right;
        top:20px;
}

#divGaugeChart {
        float:left;
}

/* tooltip */
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(217, 91, 67);
  position:relative;
  left:27px;
  top:5px;
}

.progress-meter text {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.hidden {
        display: none;
}

/**
 * Animations
 */
 @-webkit-keyframes fadeIn { 
        from { 
                opacity:0; 
        } 
        to { 
                opacity:1; 
        } 
}
@-moz-keyframes fadeIn { 
        from { 
                opacity:0; 
        } 
        to { 
                opacity:1; 
        } 
}
@keyframes fadeIn { 
        from { 
                opacity:0; 
        } 
        to { 
                opacity:1; 
        } 
}

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
} 